<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Room Booking Application</title>
    <link rel="stylesheet" href='/webjars/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href='/css/custom.scss'>
    <script src='/webjars/jquery/3.4.1/jquery.slim.min.js'></script>
    <script src='/webjars/popper.js/1.14.7/umd/popper.min.js'></script>
    <script src='/webjars/bootstrap/4.3.1/js/bootstrap.min.js'></script>
</head>
<body>
<div th:insert="fragments/header :: header" id="nav-cid"></div>
<div>
    <div class="container mt-lg-5">
        <div sec:authorize="isAnonymous()">
            <p>Please log in or register a new account to access the application.</p>
        </div>
        <h1 sec:authorize="isAuthenticated()">Welcome <span sec:authentication="name"></span></h1>
        <ul>
            <li sec:authorize="hasAuthority('WRITE_PRIVILEGE')"><a th:href="@{/room/all}">View all rooms</a></li>
            <li sec:authorize="hasAuthority('WRITE_PRIVILEGE')"><a th:href="@{/room/add}">Add a room</a></li>
            <li><a th:href="@{/user/all}">View all users</a></li>
            <li><a th:href="@{/user/register}">Register user account</a></li>
            <li><a th:href="@{/room/book}">Book a room</a></li>
            <li><a th:href="@{/room/booked}">View all booked rooms</a></li>
        </ul>
    </div>
</div>
</body>
</html>
<script>

</script>