<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My bookings</title>
    <link rel="stylesheet" href='/webjars/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='/webjars/jquery/3.4.1/jquery.slim.min.js'></script>
    <script src='/webjars/popper.js/1.14.7/umd/popper.min.js'></script>
    <script src='/webjars/bootstrap/4.3.1/js/bootstrap.min.js'></script>
</head>
<body>
<div class="container mt-lg-5">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">Room</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${bookings}">
            <td>
                <span th:text="${b.room.building}"></span>
                <span th:text="${b.room.floor}"></span>
                <span th:text="${b.room.number}"></span>
            </td>
            <td><span th:text="${b.startDateTime}"></span></td>
            <td><span th:text="${b.endDateTime}"></span></td>
            <td><a th:href="@{/room/delete_booking(bookingId=${b.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>