<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href='/webjars/bootstrap/4.3.1/css/bootstrap.min.css'>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <h1>Users</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.isEmpty()}">
            <td colspan="5">No rooms exist</td>
        </tr>
        <tr th:each="u : ${users}">
            <td><span th:text="${u.firstName}"></span></td>
            <td><span th:text="${u.lastName}"></span></td>
            <td><span th:text="${u.email}"></span></td>
            <td><span th:text="${u.password}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>